In [1]:
import os
import pandas as pd
import shutil
#Читаю обучающий файл  
train=pd.read_csv(r'D:/data_en/train_en.csv',  sep="\t", encoding="utf-8")

In [2]:
train

                                path       age  gender
0       common_voice_en_18295850.mp3  twenties    male
1       common_voice_en_22338655.mp3  twenties  female
2       common_voice_en_18277778.mp3  fourties    male
3       common_voice_en_21943181.mp3  twenties    male
4       common_voice_en_20586574.mp3  twenties    male
...                              ...       ...     ...
663682  common_voice_en_22471323.mp3  fourties    male
663683  common_voice_en_22471330.mp3  fourties    male
663684  common_voice_en_22471338.mp3  fourties    male
663685  common_voice_en_22471341.mp3  fourties    male
663686  common_voice_en_22471360.mp3  fourties    male

[663687 rows x 3 columns]

In [3]:
train["age"].unique()

array(['twenties', 'fourties', 'thirties', 'seventies', 'fifties',
       'teens', 'sixties', 'eighties', 'nineties'], dtype=object)

In [ ]:
train_labels=train[["path", "age", "gender"]]
male_train = train_labels[train_labels["gender"]=="male"] #выбираю файлы в train.csv, которые имеют gender == male
female_train = train_labels[train_labels["gender"]=="female"]

female_fifties_train = female_train[female_train["age"]=="fifties"] 
male_fifties_train = male_train[male_train["age"]=="fifties"]

male_sixties_train = male_train[male_train["age"]=="sixties"]
female_sixties_train = female_train[female_train["age"]=="sixties"]

female_thirties_train = female_train[female_train["age"]=="thirties"]
male_thirties_train = male_train[male_train["age"]=="thirties"]

female_twenties_train = female_train[female_train["age"]=="twenties"]
male_twenties_train = male_train[male_train["age"]=="twenties"]

female_teens_train = female_train[female_train["age"]=="teens"]
male_teens_train = male_train[male_train["age"]=="teens"]

female_fourties_train = female_train[female_train["age"]=="fourties"]
male_fourties_train = male_train[male_train["age"]=="fourties"]

female_seventies_train = female_train[female_train["age"]=="seventies"]
male_seventies_train = male_train[male_train["age"]=="seventies"]

female_eighties_train = female_train[female_train["age"]=="eighties"]
male_eighties_train = male_train[male_train["age"]=="eighties"]

female_nineties_train = female_train[female_train["age"]=="nineties"]
male_nineties_train = male_train[male_train["age"]=="nineties"]

In [ ]:
paths = os.listdir('D:/data_en/en/en/en/clips')
#копирую из общей папки изображения в директорию train/male 
for f in male_train["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/train/gender/male/'+ f)

In [ ]:
paths = os.listdir('D:/data_en/en/en/en/clips')
#теперь train >> train/female
for f in female_train["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/train/gender/female/'+ f)

In [ ]:
# train >> fifties
for f in male_fifties_train["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/train/age/male_fifties/'+ f)
    
for f in female_fifties_train["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, "D:/data_ready/train/age/female_fifties/"+ f)

In [ ]:
# train >> sixties
for f in male_sixties_train["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, "D:/data_ready/train/age/male_sixties/"+ f)

In [ ]:
for f in female_sixties_train["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, "D:/data_ready/train/age/female_sixties/"+ f)

In [ ]:
# train >> thirties
for f in male_thirties_train["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, "D:/data_ready/train/age/male_thirties/"+ f)

In [ ]:
for f in female_thirties_train["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, "D:/data_ready/train/age/female_thirties/"+ f)

In [ ]:
# train >> twenties
for f in male_twenties_train["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, "D:/data_ready/train/age/male_twenties/"+ f)

In [ ]:
for f in female_twenties_train["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, "D:/data_ready/train/age/female_twenties/"+ f)

In [ ]:
# train >> teens
for f in male_teens_train["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, "D:/data_ready/train/age/male_teens/"+ f)

In [ ]:
for f in female_teens_train["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, "D:/data_ready/train/age/female_teens/"+ f)

In [ ]:
# train >> fourties
for f in male_fourties_train["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, "D:/data_ready/train/age/male_fourties/"+ f)

In [ ]:
for f in female_fourties_train["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, "D:/data_ready/train/age/female_fourties/"+ f)

In [ ]:
# train >> eighties
for f in male_eighties_train["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, "D:/data_ready/train/age/male_eighties/"+ f)

In [ ]:
for f in female_eighties_train["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, "D:/data_ready/train/age/female_eighties/"+ f)

In [ ]:
# train >> seventies
for f in male_seventies_train["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, "D:/data_ready/train/age/male_seventies/"+ f)

In [ ]:
for f in female_seventies_train["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, "D:/data_ready/train/age/female_seventies/"+ f)

In [ ]:
# train >> nineties
for f in male_nineties_train["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, "D:/data_ready/train/age/male_nineties/"+ f)

In [ ]:
for f in female_nineties_train["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, "D:/data_ready/train/age/female_nineties/"+ f)

In [4]:
#Читаю test файл  
test=pd.read_csv(r'D:/data_en/test_en.csv',  sep="\t", encoding="utf-8")

In [5]:
test

                              path       age  gender
0     common_voice_en_18295850.mp3  twenties    male
1     common_voice_en_22338655.mp3  twenties  female
2     common_voice_en_18277778.mp3  fourties    male
3     common_voice_en_21943181.mp3  twenties    male
4     common_voice_en_20586574.mp3  twenties    male
...                            ...       ...     ...
2439    common_voice_en_676093.mp3  twenties    male
2440   common_voice_en_2756089.mp3  twenties    male
2441  common_voice_en_20029169.mp3  twenties    male
2442  common_voice_en_20029171.mp3  twenties    male
2443  common_voice_en_20029170.mp3  twenties    male

[2444 rows x 3 columns]

In [6]:
test["age"].unique()

array(['twenties', 'fourties', 'thirties', 'seventies', 'fifties',
       'teens', 'sixties', 'eighties'], dtype=object)

In [7]:
test_labels=test[["path", "age", "gender"]]

male_test = test_labels[test_labels["gender"]=="male"] #выбираю файлы в test.csv, которые имеют gender == male
female_test  = test_labels[test_labels["gender"]=="female"]

#выбираю файлы вида male/fifties и female/fifties 
female_fifties_test  = female_test[female_test ["age"]=="fifties"] 
male_fifties_test  = male_test[male_test ["age"]=="fifties"]

male_sixties_test  = male_test [male_test ["age"]=="sixties"]
female_sixties_test  = female_test [female_test ["age"]=="sixties"]

female_thirties_test  = female_test [female_test ["age"]=="thirties"]
male_thirties_test  = male_test [male_test ["age"]=="thirties"]

female_twenties_test  = female_test [female_test ["age"]=="twenties"]
male_twenties_test  = male_test [male_test ["age"]=="twenties"]

female_teens_test  = female_test [female_test ["age"]=="teens"]
male_teens_test  = male_test [male_test ["age"]=="teens"]

female_fourties_test  = female_test [female_test ["age"]=="fourties"]
male_fourties_test  = male_test [male_test ["age"]=="fourties"]

female_seventies_test = female_test[female_test["age"]=="seventies"]
male_seventies_test = male_test[male_test["age"]=="seventies"]

female_eighties_test = female_test[female_test["age"]=="eighties"]
male_eighties_test = male_test[male_test["age"]=="eighties"]

female_nineties_test = female_test[female_test["age"]=="nineties"]
male_nineties_test = male_test[male_test["age"]=="nineties"]

In [8]:
male_test

                              path       age gender
0     common_voice_en_18295850.mp3  twenties   male
2     common_voice_en_18277778.mp3  fourties   male
3     common_voice_en_21943181.mp3  twenties   male
4     common_voice_en_20586574.mp3  twenties   male
6     common_voice_en_21853647.mp3  twenties   male
...                            ...       ...    ...
2439    common_voice_en_676093.mp3  twenties   male
2440   common_voice_en_2756089.mp3  twenties   male
2441  common_voice_en_20029169.mp3  twenties   male
2442  common_voice_en_20029171.mp3  twenties   male
2443  common_voice_en_20029170.mp3  twenties   male

[2096 rows x 3 columns]

In [ ]:
paths = os.listdir('D:/data_en/en/en/en/clips')
#копирую из общей папки изображения в директорию test/male 
for f in male_test["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/test/gender/male/'+ f)

In [ ]:
#теперь test >> train/female
for f in female_test["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/test/gender/female/'+ f)

In [ ]:
# test >> fifties
for f in male_fifties_test["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/test/age/male_fifties/'+ f)

In [ ]:
for f in female_fifties_test["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/test/age/female_fifties/'+ f)

In [ ]:
# test >> sixties
for f in male_sixties_test["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/test/age/male_sixties/'+ f)

In [ ]:
for f in female_sixties_test["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/test/age/female_sixties/'+ f)

In [ ]:
# test >> thirties
for f in male_thirties_test["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/test/age/male_thirties/'+ f)

In [ ]:
for f in female_thirties_test["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/test/age/female_thirties/'+ f)

In [ ]:
# test >> twenties
for f in male_twenties_test["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/test/age/male_twenties/'+ f)

In [ ]:
for f in female_twenties_test["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/test/age/female_twenties/'+ f)

In [ ]:
# test >> teens
for f in male_teens_test["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/test/age/male_teens/'+ f)

In [ ]:
for f in female_teens_test["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/test/age/female_teens/'+ f)

In [ ]:
# test >> fourties
for f in male_fourties_test["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/test/age/male_fourties/'+ f)

In [ ]:
for f in female_fourties_test["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/test/age/female_fourties/'+ f)

In [ ]:
# test >> eighties
for f in male_eighties_test["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/test/age/male_eighties/'+ f)

In [ ]:
for f in female_eighties_test["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/test/age/female_eighties/'+ f)

In [ ]:
# test >> seventies
for f in male_seventies_test["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/test/age/male_seventies/'+ f)

In [ ]:
for f in female_seventies_test["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/test/age/female_seventies/'+ f)

In [ ]:
# test >> nineties
for f in male_nineties_test["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/test/age/male_nineties/'+ f)

In [ ]:
for f in female_nineties_test["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/test/age/female_nineties/'+ f)

In [9]:
#Читаю val файл  
val = pd.read_csv(r'D:/data_en/val_en.csv',  sep="\t", encoding="utf-8")

In [10]:
val

                                path       age  gender
0       common_voice_en_21102148.mp3     teens    male
1       common_voice_en_21102151.mp3     teens    male
2       common_voice_en_21102150.mp3     teens    male
3       common_voice_en_21102149.mp3     teens    male
4       common_voice_en_20223194.mp3  twenties  female
...                              ...       ...     ...
322499  common_voice_en_22471323.mp3  fourties    male
322500  common_voice_en_22471330.mp3  fourties    male
322501  common_voice_en_22471338.mp3  fourties    male
322502  common_voice_en_22471341.mp3  fourties    male
322503  common_voice_en_22471360.mp3  fourties    male

[322504 rows x 3 columns]

In [11]:
val["age"].unique()

array(['teens', 'twenties', 'seventies', 'fifties', 'fourties',
       'thirties', 'sixties', 'eighties', 'nineties'], dtype=object)

In [12]:
val_labels=val[["path", "age", "gender"]]


male_val = val_labels[val_labels["gender"]=="male"] 
#выбираю файлы в val.csv, которые имеют gender == female
female_val  = val_labels[val_labels["gender"]=="female"]

#выбираю файлы вида male/fifties и female/fifties 
female_fifties_val  = female_val [female_val ["age"]=="fifties"] 
male_fifties_val  = male_val[male_val ["age"]=="fifties"]

male_sixties_val  = male_val [male_val ["age"]=="sixties"]
female_sixties_val  = female_val[female_val ["age"]=="sixties"]

female_thirties_val  = female_val [female_val ["age"]=="thirties"]
male_thirties_val  = male_val[male_val["age"]=="thirties"]

female_twenties_val  = female_val [female_val ["age"]=="twenties"]
male_twenties_val  = male_val[male_val ["age"]=="twenties"]

female_teens_val  = female_val[female_val ["age"]=="teens"]
male_teens_val = male_val[male_val ["age"]=="teens"]

female_fourties_val  = female_val [female_val ["age"]=="fourties"]
male_fourties_val = male_val [male_val ["age"]=="fourties"]

female_seventies_val = female_val[female_val["age"]=="seventies"]
male_seventies_val = male_val[male_val["age"]=="seventies"]

female_eighties_val = female_val[female_val["age"]=="eighties"]
male_eighties_val = male_val[male_val["age"]=="eighties"]

female_nineties_val = female_val[female_val["age"]=="nineties"]
male_nineties_val = male_val[male_val["age"]=="nineties"]

male_sixties_val

                                path      age gender
64      common_voice_en_19732277.mp3  sixties   male
65      common_voice_en_19732280.mp3  sixties   male
66      common_voice_en_19732281.mp3  sixties   male
67      common_voice_en_19732278.mp3  sixties   male
458     common_voice_en_19724475.mp3  sixties   male
...                              ...      ...    ...
290566  common_voice_en_21765420.mp3  sixties   male
290567  common_voice_en_21765419.mp3  sixties   male
290568  common_voice_en_21765417.mp3  sixties   male
290569  common_voice_en_21765421.mp3  sixties   male
290570  common_voice_en_21765411.mp3  sixties   male

[19782 rows x 3 columns]

In [ ]:
paths = os.listdir('D:/data_en/en/en/en/clips')
#копирую из общей папки изображения в директорию val/male 
for f in male_val["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/val/gender/male/'+ f)

In [ ]:
#теперь val >> val/female
for f in female_val["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/val/gender/female/'+ f)

In [ ]:
# val >> fifties
for f in male_fifties_val["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/val/age/male_fifties/'+ f)

In [ ]:
for f in female_fifties_val["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/val/age/female_fifties/'+ f)

In [ ]:
# val >> sixties
for f in male_sixties_val["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/val/age/male_sixties/'+ f)

In [ ]:
for f in female_sixties_val["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/val/age/female_sixties/'+ f)

In [ ]:
# val >> thirties
for f in male_thirties_val["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/val/age/male_thirties/'+ f)

In [ ]:
for f in female_thirties_val["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/val/age/female_thirties/'+ f)

In [ ]:
# val >> twenties
for f in male_twenties_val["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/val/age/male_twenties/'+ f)

In [ ]:
for f in female_twenties_val["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/val/age/female_twenties/'+ f)

In [ ]:
# val >> teens
for f in male_teens_val["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/val/age/male_teens/'+ f)

In [ ]:
for f in female_teens_val["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/val/age/female_teens/'+ f)

In [ ]:
# val >> fourties
for f in male_fourties_val["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/val/age/male_fourties/'+ f)

In [ ]:
for f in female_fourties_val["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/val/age/female_fourties/'+ f)

In [ ]:
# val >> eighties
for f in male_eighties_val["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/val/age/male_eighties/'+ f)

In [ ]:
for f in female_eighties_val["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/val/age/female_eighties/'+ f)

In [ ]:
# val >> seventies
for f in male_seventies_val["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/val/age/male_seventies/'+ f)

In [ ]:
for f in female_seventies_val["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/val/age/female_seventies/'+ f)

In [ ]:
# val >> nineties
for f in male_nineties_val["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/val/age/male_nineties/'+ f)

In [ ]:
for f in female_nineties_val["path"].tolist():
  if f in paths:
    shutil.copy('D:/data_en/en/en/en/clips/' + f, 'D:/data_ready/val/age/female_nineties/'+ f)