In [1]:
import pandas as pd
import numpy as np
#про файл test возраст - ['thirties', 'twenties', 'teens', 'fifties', 'fourties', 'sixties']
#пол - 'male', 'female'
#про файл train возраст - ['thirties', 'twenties', 'teens', 'fourties']
#пол - ['male', 'female']
#про файл validate возраст - ['thirties', 'twenties', 'teens', 'fifties', 'fourties', 'sixties']
#аол - ['male', 'female', 'other']

In [39]:
test = pd.read_csv(r'D:\test.tsv', sep="\t", header=0, encoding="utf-8")
#читаем файл

In [40]:
del test['sentence']
del test['up_votes']
del test['down_votes']
del test['locale']
del test['segment']
del test['accent']
del test['client_id']
#удаляем столбцы

In [41]:
test = test.dropna(axis = 0, how = 'any')
test = test[test["gender"] != 'other']
test.head(100)
#удаляем все строки, у которых в столбцах есть NaN, и удаляем пол 'other'

                             path       age  gender
3    common_voice_ru_19921774.mp3  thirties    male
4    common_voice_ru_21289707.mp3  twenties  female
8    common_voice_ru_21565172.mp3  twenties    male
9    common_voice_ru_20209182.mp3  thirties    male
10   common_voice_ru_20664775.mp3  twenties    male
..                            ...       ...     ...
330  common_voice_ru_20142981.mp3  twenties    male
331  common_voice_ru_20142983.mp3  twenties    male
332  common_voice_ru_20142982.mp3  twenties    male
333  common_voice_ru_20142985.mp3  twenties    male
338  common_voice_ru_19950549.mp3  twenties    male

[100 rows x 3 columns]

In [42]:
test["gender"].unique()

array(['male', 'female'], dtype=object)

In [43]:
test["age"].unique()

array(['thirties', 'twenties', 'teens', 'fifties', 'fourties', 'sixties'],
      dtype=object)

In [44]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4383 entries, 3 to 7306
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   path    4383 non-null   object
 1   age     4383 non-null   object
 2   gender  4383 non-null   object
dtypes: object(3)
memory usage: 137.0+ KB

In [45]:
test.to_csv('D:/test.csv', index=False)
#сохраняем файл в csv без индексов

In [46]:
train = pd.read_csv(r'D:\train.tsv', sep="\t", header=0, encoding="utf-8")
#читаем файл

In [47]:
del train['sentence']
del train['up_votes']
del train['down_votes']
del train['locale']
del train['segment']
del train['accent']
del train['client_id']
#удаляем столбцы

In [48]:
train = train.dropna(axis = 0, how = 'any')
train = train[train["gender"] != 'other']
#удаляем все строки, у которых в столбцах есть NaN
train.head(100)

                            path       age gender
0   common_voice_ru_19341452.mp3  thirties   male
1   common_voice_ru_19341448.mp3  thirties   male
2   common_voice_ru_19341450.mp3  thirties   male
3   common_voice_ru_19341456.mp3  thirties   male
4   common_voice_ru_19341451.mp3  thirties   male
..                           ...       ...    ...
95  common_voice_ru_19348193.mp3  thirties   male
96  common_voice_ru_19348204.mp3  thirties   male
97  common_voice_ru_19348199.mp3  thirties   male
98  common_voice_ru_19348201.mp3  thirties   male
99  common_voice_ru_19348210.mp3  thirties   male

[100 rows x 3 columns]

In [49]:
train["gender"].unique()

array(['male', 'female'], dtype=object)

In [50]:
train["age"].unique()

array(['thirties', 'twenties', 'teens', 'fourties'], dtype=object)

In [51]:
train.info()
#смотрим информацию по таблице

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13189 entries, 0 to 13188
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   path    13189 non-null  object
 1   age     13189 non-null  object
 2   gender  13189 non-null  object
dtypes: object(3)
memory usage: 412.2+ KB

In [52]:
train.to_csv('D:/train.csv', index=False)
#сохраняем файл в csv без индексов

In [59]:
validated = pd.read_csv(r'D:\validated.tsv', sep="\t", header=0, encoding="utf-8", low_memory=False)
#читаем файл

In [60]:
del validated['sentence']
del validated['up_votes']
del validated['down_votes']
del validated['locale']
del validated['segment']
del validated['accent']
del validated['client_id']
#удаляем столбцы

In [61]:
validated = validated.dropna(axis = 0, how = 'any')
validated = validated[validated["gender"] != 'other']
#удаляем все строки, у которых в столбцах есть NaN
validated.head(100)

                             path       age  gender
3    common_voice_ru_19921774.mp3  thirties    male
4    common_voice_ru_21289707.mp3  twenties  female
8    common_voice_ru_21565172.mp3  twenties    male
9    common_voice_ru_20209182.mp3  thirties    male
10   common_voice_ru_20664775.mp3  twenties    male
..                            ...       ...     ...
334  common_voice_ru_19182808.mp3  twenties    male
339  common_voice_ru_20142981.mp3  twenties    male
340  common_voice_ru_20142983.mp3  twenties    male
341  common_voice_ru_20142982.mp3  twenties    male
342  common_voice_ru_20142985.mp3  twenties    male

[100 rows x 3 columns]

In [62]:
validated["gender"].unique()

array(['male', 'female'], dtype=object)

In [63]:
validated["age"].unique()

array(['thirties', 'twenties', 'teens', 'fifties', 'fourties', 'sixties'],
      dtype=object)

In [64]:
validated.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 63676 entries, 3 to 69509
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   path    63676 non-null  object
 1   age     63676 non-null  object
 2   gender  63676 non-null  object
dtypes: object(3)
memory usage: 1.9+ MB

In [65]:
validated.to_csv('D:/validated.csv', index=False)
#сохраняем файл в csv без индексов