In [1]:
import pandas as pd
import shutil
#Читаю обучающий файл  
train=pd.read_csv(r'D:\data_en\en\en\en\train.tsv',  sep="\t", encoding="utf-8")

In [2]:
train

,client_id,path,sentence,up_votes,down_votes,age,gender,accent,locale,segment
0,0013037a1d45cc33460806cc3f8ecee9d536c45639ba4c...,common_voice_en_699711.mp3,She'll be all right.,2,1,NaN,NaN,NaN,en,NaN
1,0014c5a3e5715a54855257779b89c2bb498d470b225866...,common_voice_en_21953345.mp3,six,3,2,NaN,NaN,NaN,en,Singleword Benchmark
2,001509f4624a7dee75247f6a8b642c4a0d09f8be3eeea6...,common_voice_en_18132047.mp3,All's well that ends well.,2,0,NaN,NaN,NaN,en,NaN
3,003fb666a99eb3aa3ba05d9c8641c18e55cf7d34d1b981...,common_voice_en_17263741.mp3,Do you mean it?,2,0,NaN,NaN,NaN,en,NaN
4,004017ba82a23768d58dff3b91da8e8f951ea5fb6d3cd9...,common_voice_en_17893917.mp3,The new patch is less invasive than the old on...,2,1,NaN,NaN,NaN,en,NaN
...,...,...,...,...,...,...,...,...,...,...
1085489,372293e65cdab88771e028a4351651ab2eff64438ddafc...,common_voice_en_22471323.mp3,Torpo stave church is the biggest attraction i...,2,0,fourties,male,NaN,en,NaN
1085490,372293e65cdab88771e028a4351651ab2eff64438ddafc...,common_voice_en_22471330.mp3,Reductions are thus used to measure the relati...,2,0,fourties,male,NaN,en,NaN
1085491,372293e65cdab88771e028a4351651ab2eff64438ddafc...,common_voice_en_22471338.mp3,A common adage is that children are not simply...,2,0,fourties,male,NaN,en,NaN
1085492,372293e65cdab88771e028a4351651ab2eff64438ddafc...,common_voice_en_22471341.mp3,A second story on the west side was added some...,2,0,fourties,male,NaN,en,NaN
1085493,372293e65cdab88771e028a4351651ab2eff64438ddafc...,common_voice_en_22471360.mp3,Astara is a short walk across the border from ...,2,0,fourties,male,NaN,en,NaN

In [3]:
#удаляю ненужные столбцы
del train['sentence']
del train['up_votes']
del train['down_votes']
del train['locale']
del train['segment']
del train['accent']
del train['client_id']

In [4]:
train

                                 path       age gender
0          common_voice_en_699711.mp3       NaN    NaN
1        common_voice_en_21953345.mp3       NaN    NaN
2        common_voice_en_18132047.mp3       NaN    NaN
3        common_voice_en_17263741.mp3       NaN    NaN
4        common_voice_en_17893917.mp3       NaN    NaN
...                               ...       ...    ...
1085489  common_voice_en_22471323.mp3  fourties   male
1085490  common_voice_en_22471330.mp3  fourties   male
1085491  common_voice_en_22471338.mp3  fourties   male
1085492  common_voice_en_22471341.mp3  fourties   male
1085493  common_voice_en_22471360.mp3  fourties   male

[1085494 rows x 3 columns]

In [5]:
#теперь необходимо избавиться от строк с gender == Nan и age == NaN
train = train.dropna(axis = 0, how = 'any')
train = train[train["gender"] != 'other']

train = train.dropna(axis = 0, how = 'any')
train = train[train["age"] != 'other']

In [6]:
train

                                 path       age  gender
11       common_voice_en_18295850.mp3  twenties    male
44       common_voice_en_22338655.mp3  twenties  female
57       common_voice_en_18277778.mp3  fourties    male
61       common_voice_en_21943181.mp3  twenties    male
63       common_voice_en_20586574.mp3  twenties    male
...                               ...       ...     ...
1085489  common_voice_en_22471323.mp3  fourties    male
1085490  common_voice_en_22471330.mp3  fourties    male
1085491  common_voice_en_22471338.mp3  fourties    male
1085492  common_voice_en_22471341.mp3  fourties    male
1085493  common_voice_en_22471360.mp3  fourties    male

[663687 rows x 3 columns]

In [ ]:
#сохраняем csv - файл для нашего нового обучающего датасета 
train.to_csv('D:/data_en/train_en.csv', index=False, sep="\t")

In [7]:
#Читаю валидационный файл 
val=pd.read_csv(r'D:\data_en\en\en\en\val.tsv',  sep="\t", encoding="utf-8")
val

,client_id,path,sentence,up_votes,down_votes,age,gender,accent,locale,segment
0,f1f6414c04e74453065e1b7fc1639c6f728dc03ed95890...,common_voice_en_20009651.mp3,It just didn't seem fair.,2,1,NaN,NaN,NaN,en,NaN
1,f1f6414c04e74453065e1b7fc1639c6f728dc03ed95890...,common_voice_en_20009653.mp3,The anticipated synergies of the two modes of ...,2,0,NaN,NaN,NaN,en,NaN
2,f1f6414c04e74453065e1b7fc1639c6f728dc03ed95890...,common_voice_en_20009655.mp3,"The fossil fuels include coal, petroleum and n...",3,1,NaN,NaN,NaN,en,NaN
3,f1f6414c04e74453065e1b7fc1639c6f728dc03ed95890...,common_voice_en_20009654.mp3,"Eventually, they named the complex after him.",2,0,NaN,NaN,NaN,en,NaN
4,f208e11e4b036d4728602fef34b9f1158faa601f20c63a...,common_voice_en_19684651.mp3,He was the grandfather of Arent S. Crowninshield.,2,0,NaN,NaN,NaN,en,NaN
...,...,...,...,...,...,...,...,...,...,...
435942,372293e65cdab88771e028a4351651ab2eff64438ddafc...,common_voice_en_22471323.mp3,Torpo stave church is the biggest attraction i...,2,0,fourties,male,NaN,en,NaN
435943,372293e65cdab88771e028a4351651ab2eff64438ddafc...,common_voice_en_22471330.mp3,Reductions are thus used to measure the relati...,2,0,fourties,male,NaN,en,NaN
435944,372293e65cdab88771e028a4351651ab2eff64438ddafc...,common_voice_en_22471338.mp3,A common adage is that children are not simply...,2,0,fourties,male,NaN,en,NaN
435945,372293e65cdab88771e028a4351651ab2eff64438ddafc...,common_voice_en_22471341.mp3,A second story on the west side was added some...,2,0,fourties,male,NaN,en,NaN
435946,372293e65cdab88771e028a4351651ab2eff64438ddafc...,common_voice_en_22471360.mp3,Astara is a short walk across the border from ...,2,0,fourties,male,NaN,en,NaN

In [8]:
#удаляю ненужные столбцы
del val['sentence']
del val['up_votes']
del val['down_votes']
del val['locale']
del val['segment']
del val['accent']
del val['client_id']

In [9]:
val

                                path       age gender
0       common_voice_en_20009651.mp3       NaN    NaN
1       common_voice_en_20009653.mp3       NaN    NaN
2       common_voice_en_20009655.mp3       NaN    NaN
3       common_voice_en_20009654.mp3       NaN    NaN
4       common_voice_en_19684651.mp3       NaN    NaN
...                              ...       ...    ...
435942  common_voice_en_22471323.mp3  fourties   male
435943  common_voice_en_22471330.mp3  fourties   male
435944  common_voice_en_22471338.mp3  fourties   male
435945  common_voice_en_22471341.mp3  fourties   male
435946  common_voice_en_22471360.mp3  fourties   male

[435947 rows x 3 columns]

In [10]:
#теперь необходимо избавиться от строк с gender == Nan и age == NaN
val = val.dropna(axis = 0, how = 'any')
val = val[val["gender"] != 'other']

val = val.dropna(axis = 0, how = 'any')
val = val[val["age"] != 'other']

In [11]:
val

                                path       age  gender
8       common_voice_en_21102148.mp3     teens    male
9       common_voice_en_21102151.mp3     teens    male
10      common_voice_en_21102150.mp3     teens    male
11      common_voice_en_21102149.mp3     teens    male
40      common_voice_en_20223194.mp3  twenties  female
...                              ...       ...     ...
435942  common_voice_en_22471323.mp3  fourties    male
435943  common_voice_en_22471330.mp3  fourties    male
435944  common_voice_en_22471338.mp3  fourties    male
435945  common_voice_en_22471341.mp3  fourties    male
435946  common_voice_en_22471360.mp3  fourties    male

[322504 rows x 3 columns]

In [ ]:
#сохраняем csv - файл для нашего нового валидационного датасета 
val.to_csv('D:/data_en/val_en.csv', index=False, sep="\t")

In [12]:
#Читаю тестовый файл 
test=pd.read_csv(r'D:\data_en\en\en\en\test.tsv',  sep="\t", encoding="utf-8")
test

,client_id,path,sentence,up_votes,down_votes,age,gender,accent,locale,segment
0,0013037a1d45cc33460806cc3f8ecee9d536c45639ba4c...,common_voice_en_699711.mp3,She'll be all right.,2,1,NaN,NaN,NaN,en,NaN
1,0014c5a3e5715a54855257779b89c2bb498d470b225866...,common_voice_en_21953345.mp3,six,3,2,NaN,NaN,NaN,en,Singleword Benchmark
2,001509f4624a7dee75247f6a8b642c4a0d09f8be3eeea6...,common_voice_en_18132047.mp3,All's well that ends well.,2,0,NaN,NaN,NaN,en,NaN
3,003fb666a99eb3aa3ba05d9c8641c18e55cf7d34d1b981...,common_voice_en_17263741.mp3,Do you mean it?,2,0,NaN,NaN,NaN,en,NaN
4,004017ba82a23768d58dff3b91da8e8f951ea5fb6d3cd9...,common_voice_en_17893917.mp3,The new patch is less invasive than the old on...,2,1,NaN,NaN,NaN,en,NaN
...,...,...,...,...,...,...,...,...,...,...
16024,95068af636457671d7991fee9c2bc3e2b053a3c53d925f...,common_voice_en_555440.mp3,She can't get away.,2,1,NaN,NaN,NaN,en,NaN
16025,9511e34076581e9ef43dcf561b23175334a9472ad07618...,common_voice_en_93561.mp3,There's the City Hall tower I'm supposed to vi...,2,1,NaN,NaN,NaN,en,NaN
16026,9511e34076581e9ef43dcf561b23175334a9472ad07618...,common_voice_en_93566.mp3,You won't miss anything.,2,0,NaN,NaN,NaN,en,NaN
16027,954656559940c3cccd64325203265362371d504b89f660...,common_voice_en_179671.mp3,One of the best ways to get started writing Dr...,3,0,NaN,NaN,NaN,en,NaN
16028,954656559940c3cccd64325203265362371d504b89f660...,common_voice_en_179673.mp3,Add the store's account to the last cent.,2,0,NaN,NaN,NaN,en,NaN

In [13]:
#удаляю ненужные столбцы
del test['sentence']
del test['up_votes']
del test['down_votes']
del test['locale']
del test['segment']
del test['accent']
del test['client_id']

In [14]:
test

                               path  age gender
0        common_voice_en_699711.mp3  NaN    NaN
1      common_voice_en_21953345.mp3  NaN    NaN
2      common_voice_en_18132047.mp3  NaN    NaN
3      common_voice_en_17263741.mp3  NaN    NaN
4      common_voice_en_17893917.mp3  NaN    NaN
...                             ...  ...    ...
16024    common_voice_en_555440.mp3  NaN    NaN
16025     common_voice_en_93561.mp3  NaN    NaN
16026     common_voice_en_93566.mp3  NaN    NaN
16027    common_voice_en_179671.mp3  NaN    NaN
16028    common_voice_en_179673.mp3  NaN    NaN

[16029 rows x 3 columns]

In [15]:
#теперь необходимо избавиться от строк с gender == Nan и age == NaN
test = test.dropna(axis = 0, how = 'any')
test = test[test["gender"] != 'other']

test = test.dropna(axis = 0, how = 'any')
test = test[test["age"] != 'other']

In [16]:
test

                               path       age  gender
11     common_voice_en_18295850.mp3  twenties    male
43     common_voice_en_22338655.mp3  twenties  female
55     common_voice_en_18277778.mp3  fourties    male
59     common_voice_en_21943181.mp3  twenties    male
61     common_voice_en_20586574.mp3  twenties    male
...                             ...       ...     ...
16013    common_voice_en_676093.mp3  twenties    male
16017   common_voice_en_2756089.mp3  twenties    male
16020  common_voice_en_20029169.mp3  twenties    male
16021  common_voice_en_20029171.mp3  twenties    male
16022  common_voice_en_20029170.mp3  twenties    male

[2444 rows x 3 columns]

In [ ]:
#сохраняем csv - файл для нашего нового тестового датасета 
test.to_csv('D:/data_en/test_en.csv', index=False, sep="\t")